/* Default Styling */
* {
  box-sizing: border-box;
  list-style: none;
}

/* Container Styling */
#container {
  margin: 0;
  padding: 0;
  max-width: 400px;
  padding: 10px;
  margin: auto;
  border: solid;
  border-radius: 10px;
  margin-top: 150px;
  background-color: rgb(97, 63, 63);
}

/* Screen styling */
#screen {
  text-align: right;
  overflow: auto;
  border: solid #01010c;
  margin: 15px;
  padding: 0 12px;
  height: 90px;
  line-height: 70px;
  font-size: 25px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgba(88, 88, 88, 0.692);
  color: white;
}

/* Button Styling */
.buttongrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  margin: 10px;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
}
.button {
  background-color: rgba(88, 88, 88, 0.692);
  border: solid  rgba(88, 88, 88, 0.692);
  background-color: #a0a29d;
}

#special {
  background-color: orange;
}

/* Light Theme */
.light-theme {
  background-color: white;
  color: #000;
}
/* Dark Theme */
.dark-theme {
  background-color: black;
  color: #fff;
}

button{
  padding: 0;
  border: none;
  width: 0;
  background-color: blue;
  cursor: pointer;
}
button i{
  font-size: 35px;

}